---
title: template
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{page.title}}</title>
</head>

<style type="text/css">

	body{
	margin:0;
	padding:0;
	font-size:24px;
	}
	h1,h2,h3{
	font-size:1.5em;
	text-align:center;
	background-color: maroon;
	color:white;
	margin-top:1em;
	width:120%;
	margin-left:-10%;
	padding:0.2em 0;
	}
	figure{
	width:130px;
	margin:0 auto;
	}
	img{
	width:100%;
	}
	#content{
	width:90%;
	//max-width:640px;
	margin:0 auto;
	}

	
</style>

<body>
<section id="content">


<figure><img src="http://pspegg.github.io/cohi/aero.jpg" /></figure> 
<h1>制作咖啡</h1>
<ol>
<li>你好</li>
<li>好的</li>
</ol>
<p>周二晚上，旧金山现代艺术馆顶楼，"蓝瓶子"的咖啡师在长桌上摆一排陶碗，分别放置刚刚磨成均匀小碎块的咖啡豆，倒入热水。待沉淀静置后，咖啡师用宽勺拨开陶碗液面浓厚的油脂，让释放出的香味充满鼻腔，然后小心舀起表面半勺咖啡，一瞬间吸入口中。激起的水雾同时刺激空腔鼻腔所有神经细胞，让咖啡师得以对此豆做出标准化的评价。</p>

</section>
 
	{{content}}
	
</section>
</body>

</html>